# CHANGE the email and the three domains to yours, then `docker compose ... up -d caddy`.
{
	email admin@aiunpacked.ir
}

aiunpacked.ir, www.aiunpacked.ir {
	encode gzip
	reverse_proxy web:4000
}

cms.aiunpacked.ir {
	encode gzip
	reverse_proxy strapi:1337
}
